In [1]:
import pandas as pd

In [46]:
vehicles = pd.read_csv('For_Hire_Vehicles.csv')
zones = pd.read_csv('taxi_zones.csv')

/var/folders/pn/wl38xs8j22d4dkk7zmvgq5bc0000gn/T/ipykernel_32389/3364718256.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles = pd.read_csv('For_Hire_Vehicles.csv')

In [6]:
zones

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...,...
258,256,0.067915,MULTIPOLYGON (((-73.95834207500002 40.71330630...,0.000169,Williamsburg (South Side),256,Brooklyn
259,259,0.126750,MULTIPOLYGON (((-73.85107116191898 40.91037152...,0.000395,Woodlawn/Wakefield,259,Bronx
260,260,0.133514,MULTIPOLYGON (((-73.90175373399988 40.76077547...,0.000422,Woodside,260,Queens
261,261,0.027120,MULTIPOLYGON (((-74.01332610899988 40.70503078...,0.000034,World Trade Center,261,Manhattan
262,262,0.049064,MULTIPOLYGON (((-73.94383256699986 40.78285908...,0.000122,Yorkville East,262,Manhattan

In [7]:
# Step 1: Create a unique boroughs dataset
boroughs = zones["borough"].drop_duplicates().sort_values().reset_index(drop=True)

# Step 2: Add a borough_id column
boroughs = pd.DataFrame({"borough": boroughs})
boroughs["borough_id"] = range(1, len(boroughs) + 1)

# Step 3: Add a borough_id column to the zones dataset
zones = zones.merge(boroughs, on="borough", how="left")

In [11]:
zones["borough"].unique()

array(['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn'],
      dtype=object)

In [8]:
boroughs

         borough  borough_id
0          Bronx           1
1       Brooklyn           2
2            EWR           3
3      Manhattan           4
4         Queens           5
5  Staten Island           6

In [9]:
zones

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,borough_id
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR,3
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens,5
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx,1
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,4
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island,6
...,...,...,...,...,...,...,...,...
258,256,0.067915,MULTIPOLYGON (((-73.95834207500002 40.71330630...,0.000169,Williamsburg (South Side),256,Brooklyn,2
259,259,0.126750,MULTIPOLYGON (((-73.85107116191898 40.91037152...,0.000395,Woodlawn/Wakefield,259,Bronx,1
260,260,0.133514,MULTIPOLYGON (((-73.90175373399988 40.76077547...,0.000422,Woodside,260,Queens,5
261,261,0.027120,MULTIPOLYGON (((-74.01332610899988 40.70503078...,0.000034,World Trade Center,261,Manhattan,4
262,262,0.049064,MULTIPOLYGON (((-73.94383256699986 40.78285908...,0.000122,Yorkville East,262,Manhattan,4

In [12]:
boroughs_file = "boroughs.csv"
zones_file = "zones_boroughs.csv"

boroughs.to_csv(boroughs_file, index=False)
zones.to_csv(zones_file, index=False)

**Add Longtitutes and Latitutes for each Borough**

In [14]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 2.8 MB/s eta 0:00:0000:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 1.4 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
from geopy.geocoders import Nominatim
import pandas as pd

In [29]:
# List of boroughs
boroughs = ["Bronx", "Brooklyn", "Manhattan", "Queens", "Staten Island"]

# Initialize geolocator
geolocator = Nominatim(user_agent="geoapiExercises")

In [35]:
import time

for borough in boroughs:
    location = geolocator.geocode(f"{borough}, New York")
    if location:
        borough_coordinates.append({
            "borough": borough,
            "latitude": location.latitude,
            "longitude": location.longitude
        })
    else:
        borough_coordinates.append({
            "borough": borough,
            "latitude": None,
            "longitude": None
        })
    time.sleep(1)  # Add a 1-second delay between requests

/var/folders/pn/wl38xs8j22d4dkk7zmvgq5bc0000gn/T/ipykernel_32389/1544417058.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  borough_coordinates.append({

TypeError: Can only append a dict if ignore_index=True

In [32]:
borough_coordinates = pd.DataFrame(borough_coordinates)

In [40]:
borough_temp

         borough   latitude  longitude
0          Bronx  40.846651 -73.878594
1       Brooklyn  40.652601 -73.949721
2      Manhattan  40.789624 -73.959894
3         Queens  40.651559 -73.792675
4  Staten Island  40.583456 -74.149605

In [39]:
borough_temp = borough_coordinates[:5]

In [41]:
borough_temp["borough_id"] = range(1, len(borough_temp) + 1)

         borough   latitude  longitude  borough_id
0          Bronx  40.846651 -73.878594           1
1       Brooklyn  40.652601 -73.949721           2
2      Manhattan  40.789624 -73.959894           3
3         Queens  40.651559 -73.792675           4
4  Staten Island  40.583456 -74.149605           5

/var/folders/pn/wl38xs8j22d4dkk7zmvgq5bc0000gn/T/ipykernel_32389/3396685757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  borough_temp["borough_id"] = range(1, len(borough_temp) + 1)

In [42]:
borough_temp

         borough   latitude  longitude  borough_id
0          Bronx  40.846651 -73.878594           1
1       Brooklyn  40.652601 -73.949721           2
2      Manhattan  40.789624 -73.959894           3
3         Queens  40.651559 -73.792675           4
4  Staten Island  40.583456 -74.149605           5

**We consider that we should use borough to cover number of locations in it, so we need to use range of latitutes and longtitutes.**

In [44]:
borough_ranges = {
    "Bronx": {"lat_min": 40.80, "lat_max": 40.90, "lon_min": -73.90, "lon_max": -73.85},
    "Brooklyn": {"lat_min": 40.63, "lat_max": 40.70, "lon_min": -73.95, "lon_max": -73.90},
    "Manhattan": {"lat_min": 40.75, "lat_max": 40.85, "lon_min": -74.00, "lon_max": -73.93},
    "Queens": {"lat_min": 40.68, "lat_max": 40.73, "lon_min": -73.85, "lon_max": -73.75},
    "Staten Island": {"lat_min": 40.57, "lat_max": 40.60, "lon_min": -74.20, "lon_max": -74.10},
}

borough_ranges_df = pd.DataFrame.from_dict(borough_ranges, orient='index')

borough_ranges_df.reset_index(inplace=True)
borough_ranges_df.rename(columns={'index': 'borough'}, inplace=True)

In [51]:
borough_ranges_df["borough_id"] = range(1, len(borough_ranges_df) + 1)

In [70]:
borough_ranges_df

         borough  lat_min  lat_max  lon_min  lon_max  borough_id
0          Bronx    40.80    40.90   -73.90   -73.85           1
1       Brooklyn    40.63    40.70   -73.95   -73.90           2
2      Manhattan    40.75    40.85   -74.00   -73.93           3
3         Queens    40.68    40.73   -73.85   -73.75           4
4  Staten Island    40.57    40.60   -74.20   -74.10           5

In [71]:
boroughs_file = "boroughs_with_geom.csv"
borough_ranges_df.to_csv(boroughs_file, index=False)

Now, deal with Zone dataset

In [60]:
zones = pd.read_csv('taxi_zones.csv')

In [62]:
zones = zones.merge(borough_ranges_df, on="borough", how="left")

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,lat_min,lat_max,lon_min,lon_max,borough_id
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR,NaN,NaN,NaN,NaN,NaN
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens,40.68,40.73,-73.85,-73.75,4.0
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx,40.80,40.90,-73.90,-73.85,1.0
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,40.75,40.85,-74.00,-73.93,3.0
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island,40.57,40.60,-74.20,-74.10,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
258,256,0.067915,MULTIPOLYGON (((-73.95834207500002 40.71330630...,0.000169,Williamsburg (South Side),256,Brooklyn,40.63,40.70,-73.95,-73.90,2.0
259,259,0.126750,MULTIPOLYGON (((-73.85107116191898 40.91037152...,0.000395,Woodlawn/Wakefield,259,Bronx,40.80,40.90,-73.90,-73.85,1.0
260,260,0.133514,MULTIPOLYGON (((-73.90175373399988 40.76077547...,0.000422,Woodside,260,Queens,40.68,40.73,-73.85,-73.75,4.0
261,261,0.027120,MULTIPOLYGON (((-74.01332610899988 40.70503078...,0.000034,World Trade Center,261,Manhattan,40.75,40.85,-74.00,-73.93,3.0
262,262,0.049064,MULTIPOLYGON (((-73.94383256699986 40.78285908...,0.000122,Yorkville East,262,Manhattan,40.75,40.85,-74.00,-73.93,3.0

In [68]:
zones = zones.dropna(subset=["borough_id"])

zones["borough_id"] = zones["borough_id"].astype(int)

/var/folders/pn/wl38xs8j22d4dkk7zmvgq5bc0000gn/T/ipykernel_32389/454343316.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zones["borough_id"] = zones["borough_id"].astype(int)

In [69]:
zones

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,borough_id
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens,4
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx,1
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,3
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island,5
5,6,0.150491,MULTIPOLYGON (((-74.06367318899999 40.60219816...,0.000606,Arrochar/Fort Wadsworth,6,Staten Island,5
...,...,...,...,...,...,...,...,...
258,256,0.067915,MULTIPOLYGON (((-73.95834207500002 40.71330630...,0.000169,Williamsburg (South Side),256,Brooklyn,2
259,259,0.126750,MULTIPOLYGON (((-73.85107116191898 40.91037152...,0.000395,Woodlawn/Wakefield,259,Bronx,1
260,260,0.133514,MULTIPOLYGON (((-73.90175373399988 40.76077547...,0.000422,Woodside,260,Queens,4
261,261,0.027120,MULTIPOLYGON (((-74.01332610899988 40.70503078...,0.000034,World Trade Center,261,Manhattan,3
262,262,0.049064,MULTIPOLYGON (((-73.94383256699986 40.78285908...,0.000122,Yorkville East,262,Manhattan,3

In [72]:
zones_file = "zones_boroughs.csv"
zones.to_csv(zones_file, index=False)

In [73]:
pd.read_csv('filtered_nyc_fhv_trip_records.csv')

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2022-01-01T20:05:00.000,2022-01-01T19:56:52.000,2022-01-01T19:56:52.000,2022-01-01T20:00:35.000,163,163,0.67,...,0.84,2.75,0.0,10.00,7.29,N,N,NaN,N,N
1,HV0003,B03404,B03404,2022-01-01T20:05:00.000,2022-01-01T19:56:43.000,2022-01-01T19:58:43.000,2022-01-01T20:21:26.000,234,265,5.52,...,0.00,0.00,0.0,0.00,20.34,N,N,NaN,N,N
2,HV0003,B03404,B03404,2022-01-01T20:10:00.000,2022-01-01T19:58:23.000,2022-01-01T19:59:36.000,2022-01-01T20:36:32.000,14,132,19.75,...,4.39,0.00,2.5,0.00,40.68,N,N,NaN,N,N
3,HV0003,B03404,B03404,2022-01-01T20:05:00.000,2022-01-01T19:55:41.000,2022-01-01T19:57:41.000,2022-01-01T20:08:58.000,17,217,1.57,...,0.80,0.00,0.0,1.00,8.66,N,N,NaN,N,N
4,HV0003,B03404,B03404,2022-01-01T20:10:00.000,2022-01-01T19:46:42.000,2022-01-01T19:50:41.000,2022-01-01T20:24:48.000,230,1,16.45,...,0.00,0.00,2.5,7.92,41.31,N,N,NaN,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1747995,HV0003,B03404,B03404,2022-01-07T18:01:15.000,2022-01-07T18:01:38.000,2022-01-07T18:03:38.000,2022-01-07T18:15:59.000,35,61,1.69,...,1.01,0.00,0.0,0.00,9.10,N,N,NaN,N,N
1747996,HV0003,B03404,B03404,2022-01-07T18:33:16.000,2022-01-07T18:34:07.000,2022-01-07T18:36:07.000,2022-01-07T18:47:45.000,49,17,1.53,...,0.59,0.00,0.0,0.00,8.56,N,N,NaN,N,N
1747997,HV0003,B03404,B03404,2022-01-07T18:47:21.000,2022-01-07T18:49:43.000,2022-01-07T18:50:33.000,2022-01-07T19:06:08.000,17,37,3.30,...,1.42,0.00,0.0,0.00,12.48,N,N,NaN,N,N
1747998,HV0003,B03404,B03404,2022-01-07T18:37:51.000,2022-01-07T18:40:24.000,2022-01-07T18:42:19.000,2022-01-07T19:08:24.000,141,228,13.87,...,5.98,2.75,0.0,0.00,50.15,N,N,NaN,N,N
1747999,HV0003,B03404,B03404,2022-01-07T18:37:12.000,2022-01-07T18:43:49.000,2022-01-07T18:44:16.000,2022-01-07T18:58:25.000,101,265,7.98,...,1.83,0.00,0.0,2.00,19.15,N,N,NaN,N,N

In [77]:
import pandas as pd

# 读取 Parquet 文件
df = pd.read_parquet('fhv_tripdata_2022-01.parquet')

# 写入 Parquet 文件
# df.to_parquet('data.parquet', engine='pyarrow', compression='snappy')
df[df["dispatching_base_num"]=="B03404"]

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.