In [ ]:
# Split Column datetime to two columns: date and time in Trip data
import pandas as pd
from pytz import timezone

input_file = r"C:\Users\Dazhou Wu\Desktop\final_trip_data.csv"
output_file = "C:/Users/Dazhou Wu/Desktop/final_edit_trip_data.csv"

df = pd.read_csv(input_file)

new_york = timezone("America/New_York")

for col in ['request_datetime', 'on_scene_datetime', 'pickup_datetime', 'dropoff_datetime']:
    df[col] = pd.to_datetime(df[col].str.replace(" UTC", ""), utc=True).dt.tz_convert(new_york)

    df[f"{col}_date"] = df[col].dt.strftime('%Y-%m-%d') 
    df[f"{col}_time"] = df[col].dt.strftime('%H:%M')    

df.drop(columns=['request_datetime', 'on_scene_datetime', 'pickup_datetime', 'dropoff_datetime'], inplace=True)

df.rename(columns={
    'request_datetime_date': 'request_date',
    'request_datetime_time': 'request_time',
    'on_scene_datetime_date': 'on_scene_date',
    'on_scene_datetime_time': 'on_scene_time',
    'pickup_datetime_date': 'pickup_date',
    'pickup_datetime_time': 'pickup_time',
    'dropoff_datetime_date': 'dropoff_date',
    'dropoff_datetime_time': 'dropoff_time'
}, inplace=True)

df.to_csv(output_file, index=False)

print(f"Data Saved as: {output_file}")

转换完成！文件已保存为: C:/Users/Dazhou Wu/Desktop/final_edit_trip_data.csv

In [ ]:
# Split Column datetime to two columns: date and time in Weather Daily data
file_path = r"C:\Users\Dazhou Wu\Desktop\Mine\master\Fall 24\Data Engineering\Final Project\dataset\weather_daily.csv"
weather_df = pd.read_csv(file_path)
weather_df.head()

       time sunrise (iso8601)  sunset (iso8601)  daylight_duration (s)
0  2022/1/1  2022-01-01T07:20  2022-01-01T16:39               33542.08
1  2022/1/2  2022-01-02T07:20  2022-01-02T16:40               33586.77
2  2022/1/3  2022-01-03T07:20  2022-01-03T16:41               33635.33
3  2022/1/4  2022-01-04T07:20  2022-01-04T16:41               33688.27
4  2022/1/5  2022-01-05T07:20  2022-01-05T16:42               33745.45

In [ ]:
weather_df[['sunrise_date', 'sunrise_time']] = weather_df['sunrise (iso8601)'].str.split('T', expand=True)
weather_df[['sunset_date', 'sunset_time']] = weather_df['sunset (iso8601)'].str.split('T', expand=True)

# Drop original columns if no longer needed
weather_df.drop(columns=['sunrise (iso8601)', 'sunset (iso8601)','time'], inplace=True)
weather_df

     daylight_duration (s) sunrise_date sunrise_time sunset_date sunset_time
0                 33542.08   2022-01-01        07:20  2022-01-01       16:39
1                 33586.77   2022-01-02        07:20  2022-01-02       16:40
2                 33635.33   2022-01-03        07:20  2022-01-03       16:41
3                 33688.27   2022-01-04        07:20  2022-01-04       16:41
4                 33745.45   2022-01-05        07:20  2022-01-05       16:42
..                     ...          ...          ...         ...         ...
360               33363.05   2022-12-27        07:19  2022-12-27       16:35
361               33387.68   2022-12-28        07:19  2022-12-28       16:36
362               33416.49   2022-12-29        07:19  2022-12-29       16:36
363               33449.73   2022-12-30        07:19  2022-12-30       16:37
364               33487.31   2022-12-31        07:20  2022-12-31       16:38

[365 rows x 5 columns]

In [ ]:
output_file = "C:/Users/Dazhou Wu/Desktop/final_weather_daily.csv"
weather_df.to_csv(output_file, index=False)

print(f"Data Saved as: {output_file}")

Data Saved as: C:/Users/Dazhou Wu/Desktop/final_weather_daily.csv

In [52]:
# Split Column datetime to two columns: date and time in Weather Hourly
file_path = r"C:\Users\Dazhou Wu\Desktop\Mine\master\Fall 24\Data Engineering\Final Project\dataset\weather_hourly.csv"
weather_hourly_df = pd.read_csv(file_path)
weather_hourly_df.head()

,time,temperature_2m (°C),precipitation (mm),rain (mm),snowfall (cm),snow_depth (m),weather_code (wmo code),surface_pressure (hPa),wind_speed_10m (km/h)
0,2022-01-01T00:00,7.7,0.0,0.0,0.0,0.0,3.0,1007.1,5.1
1,2022-01-01T01:00,7.8,0.0,0.0,0.0,0.0,3.0,1007.1,4.2
2,2022-01-01T02:00,7.5,0.0,0.0,0.0,0.0,3.0,1006.2,6.4
3,2022-01-01T03:00,7.4,0.1,0.1,0.0,0.0,51.0,1006.1,4.7
4,2022-01-01T04:00,7.6,0.1,0.1,0.0,0.0,51.0,1004.9,9.1

In [ ]:
weather_hourly_df[['Date', 'Time']] = weather_hourly_df['time'].str.split('T', expand=True)

weather_hourly_df = weather_hourly_df.drop(columns=['time'])

weather_hourly_df = weather_hourly_df.dropna(how='all')

weather_hourly_df.head()

,temperature_2m (°C),precipitation (mm),rain (mm),snowfall (cm),snow_depth (m),weather_code (wmo code),surface_pressure (hPa),wind_speed_10m (km/h),Date,Time
0,7.7,0.0,0.0,0.0,0.0,3.0,1007.1,5.1,2022-01-01,00:00
1,7.8,0.0,0.0,0.0,0.0,3.0,1007.1,4.2,2022-01-01,01:00
2,7.5,0.0,0.0,0.0,0.0,3.0,1006.2,6.4,2022-01-01,02:00
3,7.4,0.1,0.1,0.0,0.0,51.0,1006.1,4.7,2022-01-01,03:00
4,7.6,0.1,0.1,0.0,0.0,51.0,1004.9,9.1,2022-01-01,04:00

In [55]:
output_file = "C:/Users/Dazhou Wu/Desktop/final_weather_hourly.csv"
weather_hourly_df.to_csv(output_file, index=False)

print(f"Data Saved as: {output_file}")

Data Saved as: C:/Users/Dazhou Wu/Desktop/final_weather_hourly.csv

In [63]:
# Split Column datetime to two columns: date and time in Event
file_path = r"C:\Users\Dazhou Wu\Desktop\final_event.csv"
event_df = pd.read_csv(file_path)
event_df.head()

,Event ID,Event Name,Start Date Time,End Date Time,Event Agency,Event Type,Event Borough
0,610664,Celebration,2022/1/2 13:00,2022/1/2 14:00,Parks Department,Special Event,Manhattan
1,608590,Lacrosse,2022/1/1 13:00,2022/1/1 19:00,Parks Department,Sport - Youth,Brooklyn
2,611392,Soccer - Non Regulation,2022/1/1 8:00,2022/1/1 20:00,Parks Department,Sport - Youth,Queens
3,611034,Christmas Tree Lighting,2022/1/1 17:00,2022/1/1 19:00,Parks Department,Special Event,Brooklyn
4,612499,Davis Cup,2022/7/30 10:00,2022/7/30 13:00,Parks Department,Special Event,Brooklyn

In [64]:
event_df[['Start Date', 'Start Time']] = event_df['Start Date Time'].str.split(' ', expand=True)

# Split 'End Date Time' into 'End Date' and 'End Time'
event_df[['End Date', 'End Time']] = event_df['End Date Time'].str.split(' ', expand=True)

# Convert 'Start Date' and 'End Date' to the desired format (YYYY-MM-DD)
event_df['Start Date'] = pd.to_datetime(event_df['Start Date'], format='%Y/%m/%d').dt.strftime('%Y-%m-%d')
event_df['End Date'] = pd.to_datetime(event_df['End Date'], format='%Y/%m/%d').dt.strftime('%Y-%m-%d')

# Drop the original 'Start Date Time' and 'End Date Time' columns if no longer needed
event_df.drop(columns=['Start Date Time', 'End Date Time'], inplace=True)
event_df

,Event ID,Event Name,Event Agency,Event Type,Event Borough,Start Date,Start Time,End Date,End Time
0,610664,Celebration,Parks Department,Special Event,Manhattan,2022-01-02,13:00,2022-01-02,14:00
1,608590,Lacrosse,Parks Department,Sport - Youth,Brooklyn,2022-01-01,13:00,2022-01-01,19:00
2,611392,Soccer - Non Regulation,Parks Department,Sport - Youth,Queens,2022-01-01,8:00,2022-01-01,20:00
3,611034,Christmas Tree Lighting,Parks Department,Special Event,Brooklyn,2022-01-01,17:00,2022-01-01,19:00
4,612499,Davis Cup,Parks Department,Special Event,Brooklyn,2022-07-30,10:00,2022-07-30,13:00
...,...,...,...,...,...,...,...,...,...
1048570,632553,Celebration,Parks Department,Special Event,Manhattan,2022-05-14,13:00,2022-05-14,16:00
1048571,620038,Soccer -Regulation,Parks Department,Sport - Youth,Queens,2022-04-29,17:00,2022-04-29,19:00
1048572,634818,Miscellaneous,Parks Department,Special Event,Brooklyn,2022-05-20,9:00,2022-05-20,14:00
1048573,632444,Baseball - 12 and Under (Little League),Parks Department,Sport - Youth,Queens,2022-05-07,15:30,2022-05-07,18:30
1048574,611961,Baseball - 12 and Under (Little League),Parks Department,Sport - Youth,Manhattan,2022-04-30,7:00,2022-04-30,19:00

In [65]:
output_file = "C:/Users/Dazhou Wu/Desktop/final_event_edit.csv"
event_df.to_csv(output_file, index=False)

print(f"Data Saved as: {output_file}")

Data Saved as: C:/Users/Dazhou Wu/Desktop/final_event_edit.csv